<select ng-model="localModel">
  <option value="title">title</option>
  <option value="year">year</option>
  <option value="rated">rated</option>
  <option value="released">released</option>
  <option value="runtime">runtime</option>
  <option value="genre">genre</option>
  <option value="director">director</option>
  <option value="writer">writer</option>
  <option value="actors">actors</option>
  <option value="plot">plot</option>
  <option value="poster">poster</option>
  <option value="imdbRating">imdbRating</option>
  <option value="imdbVotes">imdbVotes</option>
  <option value="imdbID">imdbID</option>
  <option value="type">type</option>
  <option value="business">busines</option>
</select>
