<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Search</h2>

      <p>Look for a particular movie</p>

      <p><a class="btn btn-default" href="#/search"
            role="button">Launch &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Browse</h2>

      <p>Take a meandering walk through our collection of movies</p>

      <p><a class="btn btn-default" href="#/browse"
            role="button">Launch &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Admin</h2>

      <p>Administrate the site, the data, whatever</p>

      <p><a class="btn btn-default" href="#/admin"
            role="button">Launch &raquo;</a></p>
    </div>
  </div>

  <hr>

  <m-footer/>
</div>
<!-- /container -->
