<!DOCTYPE html>
<html ng-app="teamApp">
<head lang="en">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../css/bootstrap.css"/>

  <title>Displaying team information</title>

  <style>
    #team-list li {
      list-style-type: none;
      cursor: pointer;
    }
  </style>
</head>
<body>
<div id="main-container" ng-controller="MainCtrl">
  <div class="row">
    <div id="team-list" class="col-sm-4">
      <ul>
        <li ng-repeat="team in teams" ng-click="getTeamDetail(team)">{{ team.city + ' ' + team.team }}</li>
      </ul>
    </div>
    <div id="team-detail" class="col-sm-8" team-display="currentTeam"></div>
  </div>
</div>
<script src="/common/js/angular/angular.js"></script>
<script src="team-display.js"></script>
</body>
</html>