<div>
  <ul>
    <li>{{product.productName}}
      <ul>
        <li>Price per unit: {{product.unitPrice}}</li>
        <li>Stock: {{product.unitsInStock}}</li>
        <!-- Change this to use the show-inventory directive you just defined -->
        <li show-inventory="product"></li>
      </ul>
    </li>
  </ul>

  <!-- Part II: Add the nav-buttons directive, passing in the products collection,
  the current product as item and productID as the id-prop -->
  <nav-buttons collection="products" item="product" id-prop="productID"></nav-buttons>
</div>