<!DOCTYPE html>
<html ng-app="introApp">
<head>
  <title>Filtering on multiple criteria</title>
</head>
<body ng-controller="FirstCtrl">
<p>Here are some names:</p>
<ul>
  <!-- Note the use of filterObj here -->
  <li ng-repeat="person in people | filter:filterObj">{{person.name}} is a {{person.age}}-year-old {{person.gender}}</li>
</ul>
<form>
  <!-- Each element in the form has a corresponding property in the ng-model.
       We can then pass 'filterObj' to the filter to use the values in combination. -->
  <label for="fName">Filter names: </label>
  <input id="fName" type="text" ng-model="filterObj.name"/><br/>
  <label for="fAge">Filter age: </label>
  <input id="fAge" type="text" ng-model="filterObj.age"/><br/>
  <label for="fGender">Filter gender: </label>
  <input id="fGender" type="text" ng-model="filterObj.gender"/><br/>
</form>

<script src="/common/js/angular/angular.js"></script>
<script src="js/controllers-objects.js"></script>
</body>
</html>